.container {
    background-color: rgb(231, 236, 250);
}

.btn {
    background-color: #050b47 !important;
    color: white !important;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.border {
    border: 0.1px solid rgb(196, 190, 190);
}

//---------- REMOVE DEFAULT BORDER REDIUS ----------

.mat-mdc-form-field {
    --mdc-shape-small: 0 !important;
}