<div class="container">
  <div class="content border" fxFlex="100%">
    <form [formGroup]="register">
      <!-- -----FirstName & LastName----- -->
      <div fxLayoutGap="5%" fxLayoutGap.lt-md="0%" fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">First Name</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="FirstName">
            <mat-error *ngIf="register?.get('FirstName')?.hasError('required')">
              This field is required!
            </mat-error>
            <mat-error *ngIf="register?.get('FirstName')?.hasError('pattern')">
              Numeric values are not allowed!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Last Name</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="LastName">
            <mat-error *ngIf="register?.get('LastName')?.hasError('required')">
              This field is required!
            </mat-error>
            <mat-error *ngIf="register?.get('LastName')?.hasError('pattern')">
              Numeric values are not allowed!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- -----Email & AltEmail----- -->
      <div fxLayoutGap="5%" fxLayoutGap.lt-md="0%" fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Email</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="Email">
            <mat-error *ngIf="register?.get('Email')?.hasError('required')">
              This field is required!
            </mat-error>
            <mat-error *ngIf="register?.get('Email')?.hasError('email')">
              Invalid Email
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Alternate Email</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="AlternateEmail">
            <mat-error *ngIf="register?.get('AlternateEmail')?.hasError('required')">
              This field is required!
            </mat-error>
            <mat-error *ngIf="register?.get('AlternateEmail')?.hasError('email')">
              Invalid Email
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- -----DateOfBirth & DateOfJoin----- -->
      <div fxLayoutGap="5%" fxLayoutGap.lt-md="0%" fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Date of Birth</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput [matDatepicker]="picker" formControlName="DateOfBirth" [max]="todayDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="register?.get('DateOfBirth')?.hasError('required')">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Date of Join</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput [matDatepicker]="picker2" formControlName="DateOfJoin"
              [min]="register.get('DateOfBirth')?.value">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="register?.get('DateOfJoin')?.hasError('required')">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- -----Designation & Role----- -->
      <div fxLayoutGap="5%" fxLayoutGap.lt-md="0%" fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Designation</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <mat-select formControlName="Designation">
              <mat-option *ngFor="let data of Designation" [value]="data.value">
                {{data.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="register?.get('Designation')?.hasError('required')">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%">Role</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <mat-select formControlName="Role">
              <mat-option *ngFor="let Role of Roles" [value]="Role.value">
                {{Role.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="register?.get('Role')?.hasError('required')">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-------Submit Button------->
      <div fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button color="warn" (click)="OnSubmit()">Submit</button>
        <button type="reset" mat-stroked-button color="warn" (click)="OnClear()">Clear</button>
      </div>
    </form>
  </div>
</div>