.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar {
    background-color: #121212;
    color: white;
}

.sidenav-drawer a {
    padding: 0 60px 0 20px;
}

.sidebar-container {
    flex: 1;

}