<div class="container">
  <mat-toolbar color="primary" class="navbar" fxFlexLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{pageTitle}}</span>
    <div class="nav-icon" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-icon matTooltip="notification">notifications</mat-icon>
      <mat-icon matTooltip="settings">settings</mat-icon>
      <mat-icon routerLink="/signin" matTooltip="Logout">logout</mat-icon>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="sidebar-container">
    <mat-drawer class="sidenav-drawer" #drawer [opened]="isSmallDevice?false:true"
      [mode]="isSmallDevice ? 'over' : 'side'">
      <mat-nav-list>
        <a *ngFor="let item of navList" [routerLink]="item.path" mat-list-item
          routerLinkActive="activetab">{{item.value}}</a>
        <!-- [ngClass]="{activetab: item.value === pageTitle }" -->
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>