<div class="addEmplyee" fxLayoutAlign="end" fxLayoutGap="10px">
  <button mat-raised-button color="primary" (click)="onReset()"><mat-icon>restart_alt</mat-icon> Reset</button>
  <button mat-raised-button color="warn" (click)="addRecord()"><mat-icon>add</mat-icon> Add Employee</button>
</div>
<div class="container mat-elevation-z8">
  <table class="table" mat-table [dataSource]="dataSource" matSort>

    <!-- id Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let details"> {{details.no}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let details"> {{details.name}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> age </th>
      <td mat-cell *matCellDef="let details"> {{details.age}} </td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> department </th>
      <td mat-cell *matCellDef="let details"> {{details.department}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
      <td mat-cell *matCellDef="let details">
        <mat-icon (click)="OnEdit(details)">edit </mat-icon>
        <mat-icon (click)="OnDelete(details)">delete</mat-icon>
      </td>
    </ng-container>

    <!-- pagenator -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 20, 25]" showFirstLastButtons>
  </mat-paginator>
</div>
<!-- ---------- ADD NEW RECORDS DIALOG---------- -->
<ng-template #addRecords>
  <form [formGroup]="AddEmployee">
    <div class="record-container" fxLayout="column" fxLayoutGap="10px">
      <h2>Add records</h2>
      <!------- FirstName & Sno -------->
      <div fxFlex="100%" fxLayoutGap="10px">
        <mat-form-field fxFlex="100%" appearance="outline">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="AddEmployee?.get('name')?.hasError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="AddEmployee?.get('name')?.hasError('pattern')">
            Numbers are not allowed!
          </mat-error>
        </mat-form-field>
      </div>
      <!------- age & department -------->
      <div fxFlex="100%" fxLayoutGap="10px">
        <mat-form-field fxFlex.lt-md="30%" fxFlex="50%" appearance="outline">
          <input matInput placeholder="Age" formControlName="age">
          <mat-error *ngIf="AddEmployee?.get('age')?.hasError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="AddEmployee?.get('age')?.hasError('pattern')">
            Strings not allowed!
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.lt-md="70%" fxFlex="50%" appearance="outline">
          <mat-select formControlName="department" placeholder=" Developement">
            <mat-option *ngFor="let data of Department" [value]="data.value">
              {{data.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="AddEmployee?.get('department')?.hasError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>
      <!--------- Submit ------->
      <button mat-raised-button (click)="onSubmit()">Add Employee</button>
    </div>
  </form>
</ng-template>

<!-- ---------- EDIT RECORDS DIALOG---------- -->
<ng-template #editRecords>
  <form [formGroup]="editEmployee">
    <div class="record-container" fxLayout="column" fxLayoutGap="10px">
      <h2>Edit Records</h2>
      <!------- FirstName & Sno -------->
      <div fxFlex="100%" fxLayoutGap="10px">
        <mat-form-field fxFlex="50%" appearance="outline">
          <input matInput formControlName="no">
        </mat-form-field>

        <mat-form-field fxFlex="50%" appearance="outline">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="AddEmployee?.get('name')?.hasError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="AddEmployee?.get('name')?.hasError('pattern')">
            Numbers are not allowed!
          </mat-error>
        </mat-form-field>
      </div>
      <!------- age & department -------->
      <div fxFlex="100%" fxLayoutGap="10px">
        <mat-form-field fxFlex="50%" appearance="outline">
          <input matInput placeholder="Age" formControlName="age">
          <mat-error *ngIf="AddEmployee?.get('age')?.hasError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="AddEmployee?.get('age')?.hasError('pattern')">
            Strings not allowed!
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50%" appearance="outline">
          <mat-select formControlName="department" placeholder=" Developement">
            <mat-option *ngFor="let data of Department" [value]="data.value">
              {{data.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="AddEmployee?.get('department')?.hasError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>
      </div>
      <!--------- Submit ------->
      <button mat-raised-button [mat-dialog-close]="true">UPDATE</button>
    </div>
  </form>
</ng-template>
<!-- ---------- DELETE RECORDS DIALOG---------- -->
<ng-template #delete>
  <div class="deleteRecord">
    <div mat-dialog-content>
      Would you like to delete {{name}} Records?
    </div>
    <div mat-dialog-actions fxLayoutAlign="end">
      <button mat-stroked-button mat-dialog-close>No</button>
      <button mat-raised-button [mat-dialog-close]="true" class="btn">Ok</button>
    </div>
  </div>
</ng-template>