.task1-container {
    padding: 30px;
}

.container {
    padding: 30px;
}

span {
    transition: 2s;
}

.btn {
    margin-bottom: 25px;
}

.btn button {
    padding: 10px;
}

.subscribe {
    background-color: #050b47 !important;
    color: white !important;
}

.unsubscribe {
    background-color: #800202 !important;
    color: white !important;
}