<router-outlet></router-outlet>


<!-- <h1>{{count}}</h1> -->

<!-- <div class="conatiner" fxLayout.lt-lg="row" fxLayout.lt-md="column">
    <div fxFlex="50%" fxFlex.lt-md="100%" class="left">
        <br><br>
        <div class="pic"><img src="../assets/flower.png" alt=""></div>
        <h1>Personalized Collections <br> of Original Artworks & <br> Paintings</h1>
        <br><br>
    </div>
    <div fxFlex="50%" fxFlex.lt-md="100%" class="right">
        <img src="../assets/right.png" alt="">
    </div>

</div> -->