$my-palette: (
  50 : #e2f3e6,
  100 : #b7e1c2,
  200 : #88cd99,
  300 : #58b870,
  400 : #34a951,
  500 : #109a32,
  600 : #0e922d,
  700 : #0c8826,
  800 : #097e1f,
  900 : #056c13,
  A100 : #9dffa5,
  A200 : #6aff76,
  A400 : #37ff48,
  A700 : #1dff30,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);